@CHARSET "UTF-8";

.c__all{
	position: absolute;
	width: 1024px;
	height: 768px;
	background-image: url("../image/L1/course.jpg");
	max-width: 1024px;
	max-height: 768px;
	margin: 0px auto;
}










.right_arrow{
	position: absolute;
	left: 920px;
	top: 650px;
	opacity: 1;
	width: 104px;
	height: 70px;
}
.left_arrow{
	position: absolute;
	left: 20px;
	top: 650px;
	opacity: 1;
	width: 104px;
	height: 70px;
}